body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.card {
    width: 1080px;
    border-radius: 0px 0px 25px 25px;
}


.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 480px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(37,37,37,1) 84%);
    margin: 0px 0px 0px 0px;
    padding: 15px;
    border-radius: 15px 15px 0 0; 
    z-index: 999;
    -webkit-box-shadow: inset -33px -170px 181px -139px rgba(255,0,0,0.69);
    -moz-box-shadow: inset -33px -170px 181px -139px rgba(255,0,0,0.69);
    box-shadow: inset -33px -170px 181px -139px rgba(255,0,0,0.69);
}

.card-body img:nth-child(1) {
    height: 50%;
    z-index: 2;
}
.card-body img:nth-child(2) {
    height: 120%;
    padding-bottom: 4rem;
    filter: drop-shadow(0 0 0.10rem rgb(255, 255, 255));
    z-index: 0;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.349);
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 5px;
    width: 320px;
    gap: 0.75rem;
}

.register-container h1 {
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.55rem;
    font-weight: 500;
}

.register-container input {
    padding: 15px;
    border-radius: 5px;
    border: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.349);
    color: rgba(255, 255, 255, 0.327);
    font-family: 'Roboto', sans-serif;
}

.register-sex {
    display: flex;
    flex-direction: column;
}

.register-sex h2 {
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.35rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
    padding: 0;
    margin: 5px;
}

.sex-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    
    gap: 0.55rem;
}
.sex-options .option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.349);
    color: rgba(255, 255, 255, 0.88);
    font-family: 'Roboto', sans-serif;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.option:hover:nth-child(1) {    
    box-shadow: 0px 0px 2px 2px#3e6baa;
}
.option:hover:nth-child(2) {
    box-shadow: 0px 0px 2px 2px#c74e77;
}


.mybtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ad1414;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.background-bar {
    position: relative;
    z-index: 0;
    bottom: 0;
    height: 9px; /* Ajusta la altura de la barra */
    width: 100%;
    background-color: #ff0000; /* Color celeste */
    border-radius: 0px 0px 25px 25px; /* Para bordes redondeados */
    /* box-shadow: 200px -120px 120px 10px #ff0000; */
}

